/******************* GLOBAL *******************/
*{
    font-family: 'Ysabeau Infant', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #252526;
}

header{
    width: auto;
    height: 10vh;
    background-color: #1e1e1e;
    box-shadow: 2px 2px 2px #3e3e42;
    border-radius: 5px;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
    margin-right: .7em;
    font-size: 1em;
}

li img {
    background-attachment:fixed;
    width: 8em;
    height: 10em;
    border-radius: 15px;
    border: 5px solid #797e7b;
    cursor: pointer;
}

footer li img {
    background-attachment:fixed;
    width: 3em;
    height: 3em;
    border: none;
}

footer{
    width: auto;
    height: 20vh;
    background-color: #1e1e1e;
    border-radius: 5px;
    transition: 0.2s;
}

li img:hover{
    transition: 1s;
    border: 5px solid rgb(224, 214, 243);
} 

ul, ol{
    display: flex;
    /* justify-content: space-around; */
    list-style: none;
    font-size: .8em;
}

li{
    flex-direction: row;
    margin-right: 1.2em;
}

li figure{
    position: relative;
    display: inline-block;
    
}

div h3 {
    text-align: end;
}



/******************* GLOBAL *******************/





/******************* Pagina principal *******************/



/** Header **/
#header-principal{
    display: flex;
    justify-content: space-between;
    box-shadow: 10px;
}

#lista-header{
    display: flex;
    margin-right: 5%;
    align-items: center;
    font-family: 'Ysabeau Infant', sans-serif;
}

a:hover{
    transition: 0.5s;
    color: #c4bbbb;
    text-shadow: 2px 2px 5px #011308;
}

#titulo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: #fafafa;
    transform: translateX(-15%);
}

#titulo:hover{
    transition: 1.0s;
    cursor: pointer;
    color: #6c726f;
    text-shadow: 1px 1px 1px #252525;

}
/** Header**/

/*** MAIN ***/

#main-person{
    position: relative;
    margin: 3em;
    display: flex;
    text-align:justify;
}

#img-rat{
    float: left;
    border-radius: 100%;
    margin-right: 8em;
    border: 5px solid #797e7b;
    cursor: pointer;
}

#text-image{
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    height: 100%;
}

#img-rat:hover{
    transition: 1.5s;
    box-shadow: 1px 1px 1px 4px #797e7b;
}

#main-resume{
    display: flex;
    flex-direction: row;
}

#title-image{
    font-weight: normal;
    transform: translateY(59%);
}


#container figcaption {
    position: absolute;
    top: 120px;
    right: 20px;
    font-size: 15px;
    color: rgb(240, 235, 235);
    text-shadow: 0px 0px 5px black;
}

figcaption{
    font-weight: 400;
}

#container {
    display: inline-block;
    position: relative;
    font-weight: bolder;
    margin: 0;
}


/*** MAIN ***/


/*** FOOTER ***/

footer #container figcaption {
    position: absolute;
    top: 120px;
    right: 20px;
    color: rgb(240, 235, 235);
    text-shadow: 0px 0px 5px black;
}

#footer-icons{
    transform: translate(0%, 100%);
}

/******************************************************************* VOLTAR AQUI DPS************************************** */

#footer-contact a{
    float: right;
    margin-right: 20px;
    background-color: #c4bbbb;
    padding: .47em;
    font-weight: bolder;
    color: #1e1e1e;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 5px #1e1e1e;
}
.title-list{
    font-weight: normal;
}

/* #footer-final-text{
    background-color: #c4bbbb;
    padding: .47em;
    font-weight: bolder;
    color: #1e1e1e;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 5px #1e1e1e;
    
} */

#footer-contact:hover{
    transition: 1s;
    background-color: #1e1e1e;
    color: #6c726f;
}

#footer-contact a{
    cursor: pointer;
    padding: 15px;
}

#burguer{
    display: none;
}

#footer-contact{
    transform: translateY(-30%);
    position: absolute;
    right: 5%;
}


/*** FOOTER ***/


/******************* Pagina principal *******************/



/******************* Pagina principal MOBILE    *******************/
@media only screen and (max-width: 700px){

    /* Global */
    body{
        max-width: 100%;
    }

    header{
        width: 100%;
        height: 10vh;
        background-color: #1e1e1e;
        border-radius: 5px;
    }

    figure{
        display: flex;
        flex-direction: column;
        transform: translateX(-10%);
    }

    figure div{
        margin-bottom: 0px;
    }

    .title-list{
        text-align: left;
        margin-left: .5em;
    }
    /* Global */


    /* Header */
    #titulo{ 
        color: #fafafa;
        font-size: 1.5em;
    }

    #lista-header{
        display: none;
        margin-right: 5%;
        align-items: center;
        font-family: 'Ysabeau Infant', sans-serif;
    }

    #burguer{
        display: flex;
        align-items: center;
        padding: 10px;
    }

    ul{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li{
        margin-top: .5em;
    }
    /* Header */



    /* MAIN */

    #main-person{
        overflow: hidden;
    }

    #text-image{
        width: 90%;
        height: 90%;
        text-align: justify;
    }

    #div-desc{
        max-width: 75%;
        text-align: justify;
    }

    #main-resume{
        display: flex;
        flex-direction: column;
    }

    #hobbies{
        max-block-size: 50%;
    }

    li img {
        background-attachment:fixed;
        width: 7em;
        height: 9em;
        border-radius: 15px;
        border: 5px solid #797e7b;
        cursor: pointer;
        margin-bottom: 2.9em;

    }
    /* MAIN */

    /* Footer */


    footer #container figcaption {
        position: absolute;
        top: 100px;
        right: 10px;
        color: rgb(240, 235, 235);
        text-shadow: 0px 0px 5px black;
    }
    
    #footer-icons{
        transform: translate(0%, 90%);
    }

    footer{
        width: auto;
        height: 25vh;
        background-color: #1e1e1e;
        border-radius: 5px;
        transition: 0.2s;

    }

    #footer-contact{
        position: absolute;
        text-align: center;
        font-weight: bolder;
        right: 5%;
        bottom: 80%;
        transform: translate(-60%, -100%);
    }

    /* #footer-contact{
        transform: translateY(-30%);
        position: absolute;
        right: 5%;
    } */
    

    

    /* Footer */
    


}


/* #titulo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: #fafafa;
} */



/******************* Pagina principal MOBILE    *******************/

